{% include 'admin/header.html' %}
	<style type="text/css">
	.email{
		padding:10px;
		border-radius: 3px;
	}
	.email:hover{
		background-color:#EEE;
	}
	.email b:hover{
		color:blue;
	}
	.email a{
		display: block;
		color:black;
	}
	.email a:hover{
		text-decoration:none;
		color:black;
	}
	@media screen and (min-width: 769px) {
		.modal-dialog {
		    width: 450px;
		    margin: 30px auto;
		}
	}
	</style>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="padding:0px;">
                    <br><br>
                    <div class="panel panel-default" style="padding:0px;">
                    	<div class="panel-heading">
		                    <a href="/admin/mail/" class="btn btn-default btn-sm pull-right">
		                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
		                        New 
		                    </a>
		                    <h4 class="panel-title">
		                        <a href="#menu-toggle" style="border:none;font-size:20px;" class="" id="menu-toggle">
		                        <i class="fa fa-arrow-circle-o-left hidden-sm hidden-md hidden-lg " aria-hidden="true"></i>
		                        </a>
		                        Mail List
		                    </h4>
                    	</div>
	                    <div class="panel-body" >
	                    	<!-- <div class="container"> -->
	                    		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 email">
	                    			<b>Kimsal</b>
	                    			<!-- <a href="mailto:kimsalsan@gmail.com"> -->
	                    			<a href="" data-toggle="modal" data-target="#myModal">
	                    				kimsalsan@gmail.com
	                    			</a>
	                    		</div>
	                    	<!-- </div> -->
	                    	<!-- Modal -->
							<div id="myModal" class="modal fade" role="dialog">
							  <div class="modal-dialog">

							    <!-- Modal content-->
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							      </div>
							      <div class="modal-body">
							        <label>Kimsal</label>
							        <br><br>
							        <label>kimsalsan@gmail.com</label>
							        <hr>

							        <label>
							        	Group1 	<span><input type="checkbox" name=""></span>
							        </label>
							        <br>
							         <label>
							        	Group1 	<span><input type="checkbox" name=""></span>
							        </label>
							        <br>
							        <label>
							        	Group1 	<span><input type="checkbox" name=""></span>
							        </label>
							 
							      </div>
							    </div>

							  </div>
							</div>
							<!--end modal-->
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /#page-content-wrapper -->




 <script src="js/jquery.js"></script>
    <script src="js/scroll.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    var image_string='';
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(".off-canvas-submenu").hide();
    $(".off-canvas-submenu-call").click(function() {
    var icon = $(this).parent().next(".off-canvas-submenu").is(':visible') ? '':'';
    $(this).parent().next(".off-canvas-submenu").slideToggle('slow');
    $(this).find("span").text(icon);
});
</script>
</body>
</html>