{% include 'admin/header.html' %} 
<style type="text/css">
  .other_image{
    height:50px;
    background-color:#79aec8;
    color:white;
    font-weight:bold;
    line-height:50px;
  }
  .more{
    color:#447e9b;
    font-weight: bold;
    cursor: pointer;
    margin-top:10px;
  }
  .more:hover{
    color:#036;
  }
  .delete{
    color:red;
    cursor: pointer;
    padding-left:10px;
    font-weight: bold;
    text-align: right;
  }
  .delete:hover{
    color:#E88;

  }
  tr td img{
    margin-top:10px;
  }
  input[type="file"] {
    display: block;
    margin-right: 5px;
  }
</style>
<script type="text/javascript">
  var img_no=0;
</script>
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12" style="padding:0px;">
                    <br><br>
                  <div class="panel panel-default" style="padding:0px;">
                    <div class="panel-heading">
                      <a href="/admin/post/add" class="btn btn-default btn-sm pull-right">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        New 
                     </a>
                      <h4 class="panel-title">
                        <a href="#menu-toggle" style="border:none;font-size:20px;" class="" id="menu-toggle">
                        <i class="fa fa-arrow-circle-o-left hidden-sm hidden-md hidden-lg " aria-hidden="true"></i>
                        </a>
                         Post Form
                      </h4>
                    </div>
                    <div class="panel-body" >
                      <div class="table-responsive" style="border:none;">
                          <!--form upload-->
                          <div class="col-md-12 col-xs-12 col-md-12 col-lg-12" >
                          <br/>
                              <form class="form-horizontal" action="/admin/post/add/" method="POST" id="frm" enctype="multipart/form-data">
                              {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                  {% for message in messages %}
                                    <li class="alert alert-warning"> 
                                      {{ message }}
                                    </li>
                                  {% endfor %}
                                {% endif %}
                              {% endwith %}
                                <!-- input title-->
                               {{ form.hidden_tag() }}
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                    {{ form.title.label }}
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                      {{ form.title(class_="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                    {{ form.short_description.label }}
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                      {{ form.short_description(class_="form-control",rows="4") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <!-- <input id="name" name="name" type="text" placeholder="Type your title here..." class="form-control"> -->
                                    {{ form.description.label }}
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
                                      {{ form.description(class_="form-control ckeditor",id="description") }}
                                    </div>
                                    
                                  
                                     <script type="text/javascript">
                                        CKEDITOR.replace("description", {
                                            filebrowserUploadUrl: '/admin/ckupload/',
                                            filebrowserImageUploadUrl: '/ckupload/'
                                        });
                                    </script>
                                </div>
                                <!--select box-->
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2"><br/>
                                    <!-- <input id="name" name="name" type="text" placeholder="Type your title here..." class="form-control"> -->
                                    {{ form.category_id.label }}
                                  </div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <br/>
                                    {{ form.category_id(class_="form-control") }}

                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                    {{ form.price.label }}
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                      {{ form.price(class_="form-control price") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                    {{ form.map.label }}
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                      {{ form.map(class_="form-control",rows="5") }}
                                    </div>
                                </div>
                                
                                
                                <!-- add feature image-->

                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2"><br/>
                                    <b>Feature Image</b>
                                  </div>

                                  <input type="text" name="txt_temp_image" class="txt_temp_image" value="" style="display:none"/>

                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                     <div class="panel panel-body">
                                       <div class="span4 cropme" id="landscape" style="width:430px; height: 300px;">
                                       </div>
                                    </div>
                                  </div>
                                </div>
                               <script>
                                 // Init Simple Cropper
                                $('.cropme').simpleCropper('feature_image','feature_image','txt_temp_image');
                                $('#portrait').hide();
                                $('.switch').click(function (){
                                    $(this).text("Switch to "+($('#portrait').is(":visible") ? "Portrait" : "Landscape"));
                                  $('#portrait').toggle();
                                  $('#landscape').toggle();
                                });    


                                var _gaq = _gaq || [];
                                _gaq.push(['_setAccount', 'UA-36251023-1']);
                                _gaq.push(['_setDomainName', 'jqueryscript.net']);
                                _gaq.push(['_trackPageview']);

                                (function() {
                                  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                                  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                                })();

                              </script>
                                <!--end phos add feature image -->
                                <div class="form-group">
                                  <div class="col-md-12 col-xs-12 co-md-12 col-lg-12 other_image">
                                    More Images (optional)
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-6 col-md-6 ol-lg-6">
                                  <table id="imgs">
                                    <tr>
                                      <td>
                                        <input class="btn btn-default" type="file" name="other_image[]" multiple=""  class="other_image1"/>
                                      </td>
                                      <td>
                                      <img src="/static/images/no image.jpg" class="img-1 img-responsive" style="max-width:100px;">
                                      </td>
                                      <td>
                                      <input type="text" value="" name="image1" style="display:none;" />
                                      </td>
                                      <td class="delete delete1" onclick="removeImage(1)">
                                         <input type="checkbox" name="remove1" id="rm1"/>Remove
                                      </td>
                                    </tr>
                                    </table>
                                    <div class="more">
                                      <i class="fa fa-plus" aria-hidden="true"></i>
                                      Add another image
                                    </div>
                                    </div>
                                  </div>
                                <!--end feature image-->
                                <!-- Form actions -->
                                <div class="form-group">
                                  <div class="col-md-12 text-right">
                                    <center>
                                      <button type="submit" class="btn btn-default btn-sm btn-primary">
                                       <!-- onclick="getAllRemoveImages();"> -->
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                          Save
                                        </button>
                                      <button type="reset" class="btn btn-default btn-sm">
                                      <i class="fa fa-ban" aria-hidden="true"></i>
                                        Cancel
                                      </button>
                                    </center>
                                  </div>
                                </div>
                                <input type="text" value="" name="all_removed_images" style="display:none;" />
                              </form>
                            
                          </div>
                          <!--end form upload-->
                      </div> 
                    </div>
                  </div>

                  
              </div>
          </div>
      </div>
  </div>
<!-- /#page-content-wrapper -->
</div>

    <!-- Menu Toggle Script -->
<script type="text/javascript" src="/static/admin/js/postform.js"></script>
  {% for p in post %}
  <script type="text/javascript">
   $('input#title').attr('value',"{{p.title}}"); 
   $('#frm').attr('action','/admin/post/edit/{{p.slug}}/');
   $('#description').html("{{p.description.replace('\n', '').replace('\r','')}}");  
   $('select#category_id option[value="{{p.category_id}}"]').attr("selected","selected");
   feature_image="{{p.feature_image}}";

   $("#landscape").html('<img src="'+feature_image+'" class="img-responsive"/>');
   $(".txt_temp_image").attr('value',feature_image);
   $("#duration").attr('value',"{{p.duration}}");
   $("#price").attr('value',"{{p.price}}");
   $("#location").attr('value',"{{p.location}}");
   $("#file").attr('value',"{{p.file}}");
   $("#landscape img").addClass("img-responsive");
   //Load other images:
   loadOldImages("{{p.images}}");
   $("#short_description").html("{{p.short_description}}");
   $("#price").attr('value',"{{p.price}}");
   $("#map").html("{{p.map}}");
 </script>
{% endfor %}
<script type="text/javascript">
  if(feature_image==''){
    feature_image='/static/images/no image.jpg';
   }
   $("#landscape").html('<img src="'+feature_image+'" style="width:280px;height:200px" class="img-responsive"/> ');
  //input only number
    $("#price").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && ( e.ctrlKey === true || e.metaKey === true ) ) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
  //Other images
  </script>
  <script type="text/javascript" src="/static/admin/js/postform2.js">
</script>
{% include 'admin/footer.html' %} 
