{% include 'admin/header.html' %} 
<style type="text/css">
.checkbox{
	padding: 10px;
	font-size: 20px;
}
</style>
<div class="container" >
	<div class="row" style="margin-top:10px;border-bottom: solid thin #ececec !important;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<legend >
				<center>
					<b>
					Select Category and Page to show on menu
					</b>
				</center>
			</legend>
			<br/>
		</div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        	<legend>Select Category</legend>
        	 <form role="form" name="frmcategory" id="category">
        	 	{%for category in cats%}
			    <div class="checkbox">
			      <label>
			      <input {%if category.is_menu %} checked {%endif%} type="checkbox" value="{{category.id}}">
			      	{{category.name}}
			      </label>
			    </div>
			    {%endfor%}
			  </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        	<legend>Select Page</legend>
        	 <form role="form" name="frmpage" id="page">
			    {%for page in ps %}
			    <div class="checkbox">
			      <label>
			      <input {%if page.is_menu %} checked {%endif%} type="checkbox" value="{{page.id}}">
			      	{{page.title}}
			      </label>
			    </div>
			    {%endfor%}
			  </form>
        </div>
    </div>
</div>
<script>
	//save and update data 
	$("#category input").change(function(){
		//alert($(this).val());
		var id=$(this).val();
		var category_check=$(this).is(':checked');
		//egory_check=document.getElementById('1').checked;
		//alert(id+" : "+category_check);
		if(category_check==true)
			category_check=1;
		else
			category_check=0;
		//alert(category_check);
		$.ajax({
          type: "GET",
          url: '/admin/menu/'+id+"/"+category_check+"/category",
          success: function(response) {
          	//console.log(":"+response);
          }
        });
	});
	$("#page input").change(function(){
		//alert($(this).val());
		var id=$(this).val();
		var page_check=$(this).is(':checked');
		//egory_check=document.getElementById('1').checked;
		//alert(id+" : "+category_check);
		if(page_check==true)
			page_check=1;
		else
			page_check=0;
		//alert(category_check);
		$.ajax({
          type: "GET",
          url: '/admin/menu/'+id+"/"+page_check+"/page",
          success: function(response) {
          	//console.log(":"+response);
          }
        });
	});
</script>
{% include 'admin/footer.html' %} 
<!--end menu add-->