@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html,body {
	height                : 100%;
    background-size       : cover;
    color                 : #444;
    font-family           : Poppins !important;
}

.banner {
	width                 :100%;
	height                : auto;
	background-color      : green;
	margin-top            : 50px;
}
.bg-overlay {
    background            : linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.3)), url("../image/1.jpg");
    background-repeat     : no-repeat;
    background-size       : cover;
    background-position   : center center;
    color                 : #fff;
    height                : 300px;
    padding-top           : 50px;
    border-radius         : 3px;
}

.desc {
	font-size             : 19px;
	font-weight           : 200;
	line-height           : 1.5;
}
h2 {
    margin: 10px 0px;
}
.bg-overlay-small {
    background             : linear-gradient(rgba(83, 84, 81, 0.8), rgba(53, 54, 62, 0.15)), url("../image/tuktuk.png");
    background-repeat       : no-repeat;
    background-size         : cover;
    background-position     : center center;
    color                   : #fff;
    height                  : 400px;
    padding-top             : 50px;
    margin-top              : 1px;
    background-size         : cover;
    background-position     : center;
    border-radius           : 0px;
}
.hidden{
	display                 : block ! important;
}
.mypara {
	font-size               : 20px;
	font-weight             : 300;
}
.myh4 {
	font-size               : 22px;
	font-size               : 500;
	text-transform          : uppercase;
    color: #27ae60;
}
.pageTitle{
  font-weight: bold !important;
  font-size: 60px !important;
  color: #fff;
}
.rentalTitle{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #27ae60;
}
.hrRental{
    border: 1px solid #26ae60;
    margin-top: -3px;
    margin-bottom: 3px;
    width: 15%;
}
.rentalBack{
    background-color: #f5f5f5 !important;
    margin-top: 15px;
    padding: 20px;
}
/*.imgBack{
    background-color: #fff;
    padding: 10px;
}*/
.materailTitle{
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    color: #27ae60;
}
.aboutTitle{
    color: #26ae60;
    font-weight: bold;
    font-size: 18px;
}
.aboutBack{
    background-color: #f5f5f5;
    padding: 15px 10%;
}
.hrTeam{
    width: 5%;
    border: 1px solid #26ae60;
    margin-top: -3px;
    margin-bottom: 3px;
}
.memberBack{
    background-color: #f5f5f5;
    padding: 15px 30px;
    margin-top: 10px; 
}
.memberName{
    color: #26ae60;
    font-weight: bold;
}
.memberPos{
    color: #2ecc71;
}

@media only screen and (max-width: 750px) {


.materailTitle{
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    color: #e74c3c;
    margin-top: 15px;
    text-align: center;
    line-height: 25px;
}


}