{% include template_name+'/header.html' %} 
<div class="banner post">
	<div class="bg-overlay">
		<div class="row text-center">
		</div>
	</div>
</div>
<div class="container frm">
	<div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="col-sm-12" style="margin-bottom:10px;">
			    <i class="alert" style="display:none;">
			    </i>
		    </div>
		    <div class="col-sm-12" style="margin-bottom:10px;">
			   <h4 style="color:#2CC990">Booking for: <a href="/{{slug}}"  style="color:#2CC990"><b>{{post_title}}</b></a></h4>
		    </div>
			<div class="form">
		      	<form action="" method="" name="frm" id="frm">
		      	{{ form.hidden_tag() }}
		      	  {{ form.name(class_="input-type",required="",placeholder="Name...") }}
				  {{ form.email(class_="input-type",required="",placeholder="Email address...") }}
				  {{ form.phone(class_="input-type",placeholder="Phone Number...") }}
				  {{ form.detail(class_="form-control hresize",placeholder="Write your request here...",rows='4') }}

				  <input class="input-type" type="button" class="btn-book btn btn-default" name="sub" value="Book" id="booking">
				</form>
			</div>
		</div>
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
	</div>
</div>
<script type="text/javascript">
	function clearControls(){
		document.getElementById("frm").reset();
	}
	$("#booking").click(function(){
		$(".alert").removeClass("alert-danger");
		var name=$("#name").val();
		var email=$("#email").val();
		var phone=$("#phone").val();
		var detail=$("#detail").val();
		var dt=[];
		dt[0]=name;
		dt[1]=email;
		dt[2]=phone;
		dt[3]=1;
		dt[4]=parseInt("{{post_id}}");
		dt[5]=detail
		if(name==''){
			$('.alert').addClass('alert-danger');
		    $('.alert').html("Name is required");
		    $('.alert').css("display",'block')
		}
		else if(email==''){
			$('.alert').addClass('alert-danger');
		    $('.alert').html("Email is required");
		    $('.alert').css("display",'block')
		}
		else if(email.indexOf("@")<1&&email.indexOf(".")<2){
			$('.alert').addClass('alert-danger');
		    $('.alert').html("Your email is not valid");
		    $('.alert').css("display",'block')
		}
		else{
			$.ajax({
			   type: "POST",
			   url: "/add/booking/ajax/",
			   data: {json_str:JSON.stringify(dt)},
			   success: function(msg){
			     $('.alert').addClass('alert-success');
			     $('.alert').html(msg);
			     $('.alert').css("display",'block');
			     clearControls();
			   },
			   error:function(msg){
			   	$('.alert').addClass('alert-danger');
			     $('.alert').html(msg);
			     $('.alert').css("display",'block');
			   }
			   // dataType: "json"
			});
		}
		
	});
</script>
{% include template_name+'/footer.html' %} 