{% include template_name+'/header.html' %} 
<div class="banner post" >
	<div class="bg-overlay" style="background 					: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.3)), url("/static/{{template_name}}/image/1.jpg22");">
		<div class="row text-center">
		</div>
	</div>
</div>

<section class="container-fluid" id="section2">
    <div class="container ">
        <center>
        	<h1 class="row-space-1">{{category_name}}</h1>
        	<center><hr class="hrActivities"></center>
        	<br>
        </center>
        <div class="row section-box1">
           	{%for post in posts%}
           	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-overlay no">
           		<a href="/{{post.slug}}">
	           		<div style='background: linear-gradient(rgba(10, 15, 6, 0.56), rgba(77, 81, 74, 0.08)), url("{{post.feature_image}}");background-size: cover;' class="bg-overlay-small" >
					</div>
					<div class="TitleBack">
						<h6 class="IndexTitle">{{post.title}}</h6>
						<p>{{post.description|striptags|truncate(80)}}</p>
					</div>

				</a>
           	</div>
           	{%if loop.index%3==0%}
           		<div class="clearfix"></div>
           	{%endif%}
           	{%endfor%}
           	
        </div>
        
    </div>
    <!--/container-->
    <!--pagination-->
    <center>
        <ul class="pagination pagination-sm">
        {% if pagin > 1 %}
            {% if pagin < 8 %}
                	{% for page in range(1,pagin+1) %}
                    	{% if page == current_pagin %}
                    		<li class="active">
                    			<a href="/{{category_slug}}/{{page}}">
                    				{{page}}
                    			</a>
                    		</li>
                    	{%else%}
                    		<li>
                    			<a href="/{{category_slug}}/{{page}}">
                    				{{page}}
                    			</a>
                    		</li>
                    	{%endif%}
					{%endfor%}
				</ul>
			{%else %}
				<li class="{%if current_pagin==1 %}active{%endif%}">
					<a href="/{{category_slug}}/1">1</a>
				</li>
				<li class="{%if current_pagin==2 %}active{%endif%}">
					<a href="/{{category_slug}}/2">2</a>
				</li>
				<li class="{%if current_pagin==3 %}active{%endif%}">
					<a href="/{{category_slug}}/3">3</a>
				</li>
				<li class="{%if current_pagin==4 %}active{%endif%}">
					<a href="/{{category_slug}}/4">4</a>
				</li>
				<li>
					<a href="#">...</a>
				</li>
				{% for page in range(pagin-4,pagin+1) %}
					{% if current_pagin == page%}
				  <li class="active">
				  	<a href="/{{category_slug}}/{{page}}">
				  		{{page}}
				  	</a>
				  	</li>
				 {%else%}
				 	<li>
				  	<a href="/{{category_slug}}/{{page}}">
				  		{{page}}
				  	</a>
				  	</li>
				 {%endif%}
				{%endfor%}
			{%endif%}
		{%endif%}
		</ul>
		</center>
    <!--End pagination-->
</section>
{% include template_name+'/footer.html' %} 