{% include template_name+'/header.html' %} 
<link rel="stylesheet" type="text/css" href="/static/{{template_name}}/css/single.css">
<div class="banner post" >
	<div class="bg-overlay" style="background 					: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.3)), url("/static/{{template_name}}/image/1.jpg");">
		<div class="row text-center">
		</div>
	</div>
</div>
<div class="list post" style="background-color:#fff; margin-top: 15px;">
	{%for post in post_object%}
	<div class="container post">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<div class="row" style="background-color: #f5f5f5; margin-bottom: 15px;">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="contact">
					<center>ADDRESS</center>
					<small>
						#35, Street 600bis, Toul Kork, Phnom Penh. 
					</small>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="contact">
					 <center>PHONE</center>
					 <small>
					 	+855-70-453-236
					 </small>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="contact">
					<center>EMAIL</center>
					<small>
						toursanak@gmail.com
					</small>
				</div>
			</div>
			<hr>
		</div>
			<!-- <div class="row"> -->
				<h4 style="font-weight: bold;">
					{{post.title}}
				</h4>
				<p style="font-weight: normal;">{{post.short_description}}
				{{post.description|safe}}</p>
			<!-- </div> -->
			<!-- <div class="row"> -->
				<!-- <p class="desc no"></p> -->

			<!-- </div> -->
			
			<div class=" post">
				<div id="gallery1" class="post"></div>
				<!--gallery image-->
				<script type="text/javascript" src="/static/{{template_name}}/js/images-grid.js"></script>
				<script>
				 
		            var img ="{{post.images}}";
		            var images=img.split("$$$$$");
		            // var temp='';
		            for(var i=0;i<images.length;i++){
		            	// alert(i);
		            	images[i]="/static/images/images/"+images[i];
		            }
		            console.log(images);
		            // images=temp;
		            $(function() {

		                $('#gallery1').imagesGrid({
		                    images: images
		                });
		            });
		        </script>
				<!--end gallery image-->
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="sidebar">
			<!-- <div class="row"  > -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
					<div class="row price" id="main_column">
						<div class="col-sm-6 col-xs-12 col-lg-6 col-md-6" style="font-weight: bold;">$ {{post.price}}</div>
						<div class="col-sm-6 col-xs-12 col-lg-6 col-md-6" style="font-weight: bold;">Per Person</div>
					</div>
					<div class="row">
						<a href="/booking/{{post.slug}}">
							<button type="submit" class="btn btn-default btn1">
							    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
							    <span style="font-weight: bold;"> Request To Book </span>
							    <i class="fa fa-hand-o-left" aria-hidden="true"></i>
							</button>
						</a>
					</div>
					<div class="row" style="background: #27ae60;margin-top:15px; padding: 10px;">
						<center><h4 style="color:white; font-weight: bold;">We deliver Tuk Tuk</h4></center>
					</div>
					<div class="row">
						<a href="#">
							<div class="bg-overlay-small">
								<div class="row text-center">
							        <h4 class="title" style="color: white;">
							        	$ 15 only<br/>
							        </h4>
								</div>
							</div>
						</a>
					</div>	
				</div>
			<!-- </div> -->
		</div>
	</div>
	
</div>
<div class="container-fluid" style="padding-top:20px;background:white;">
	<div class="row-fluid">
        <div class="col-md-12 tour_map">
        	{{post.map|safe}}
    	</div>
    </div>
</div>
<script type="text/javascript">
	$('.tour_map iframe').css('width','100%');
</script>
{%endfor%}
{% include template_name+'/footer.html' %} 