 /*this for login form*/

  body {
    padding-top     : 15px;
    font-size       : 12px
  }
  .main {
    max-width       : 380px;
    margin          : 0 auto;
    padding-top     : 50px;

  }
  .frm{
        background-color: rgb(0, 151, 126);
        padding       : 10px;
        border-radius: 3px;
  }
  input[type="text"], textarea,.form-control, .form-group,  {
    outline           : none;
    box-shadow        :none !important;
    border            : none;
  }
  label {
    color             : #FFFFF7;
  }
  .form-control {
      display         : block;
      width           : 100%;
      height          : 34px;
      padding         : 6px 12px;
      font-size       : 14px;
      line-height     : 1.42857143;
      color           : #555;
      background-color: #fff;
      background-image: none;
      border          : 1px solid #ccc;
      border-radius   : 0px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow      : inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition   : border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition      : border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .login-or {
    position          : relative;
    font-size         : 18px;
    color             : #aaa;
    margin-top        : 10px;
    margin-bottom     : 10px;
    padding-top       : 10px;
    padding-bottom    : 10px;
  }
  .span-or {
    display           : block;
    position          : absolute;
    left              : 50%;
    top               : -2px;
    margin-left       : -25px;
    background-color  : #fff;
    width             : 50px;
    text-align        : center;
  }
  .hr-or {
    background-color : #cdcdcd;
    height            : 1px;
    margin-top        : 0px !important;
    margin-bottom     : 0px !important;
  }
  h3 {
    text-align        : center;
    line-height       : 300%;
  }